{% extends "base.html" %}
{% load django_vite %}

{% block title %}Report Form{% endblock %}



{% block head_js %}
  {{ block.super }}
  
  
  <!-- {% vite_asset 'js/main.jsx' %} -->
  {% vite_hmr_client %}
{% endblock %}

{% block content %}
  <!-- <form method="post" class="{% comment %}d-flex flex-column{% endcomment %} align-items-center container mt-2">
    <div class="col-md-6 w-auto card px-3 py-5 d-flex justify-content-center  text-secondary">
      <h1>adding report form</h1>
      <p>
        you can add a report here
      </p>
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><span class="page-link">2</span></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
      {{ report_form.as_table}}
      {% csrf_token %}
      <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary ">create report</button>
        </div>
      </div>

    </div>
  </form> -->

  <div id="report-form"></div>
  
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    {% vite_asset 'js/main.jsx' %}
{% endblock %}
